body{
  margin:0;
  padding:0;
  padding:0;
}
.home{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color:#fc5b84; 
}
.home .logo{
	display:block;
	padding-top:60px;
	margin: 0 auto;
}
.home .home-title{
	font-size: 33px;
	color:white;
	text-align: center;
	margin-top: 74px;
}
.home .home-subtitle{
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	 margin-top: 53px;
}
.home .actions{
	display: flex;
  	justify-content: space-around;
  	margin-top:20px;
  	margin-bottom: 50px;
}
.home .actions>a{
	display: block;
  text-align: center;
  background-color: #fff;
  line-height: 56px;
  width: 150px;
  color: red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
  border-radius: 2px;
}